<li>{{message.topic}},{{message.author}},{{message.additional}}
  {{#if isTimeShowing}}
  <p {{action 'timeHide'}}>{{message.time}}</p>
  {{else}}
  <button {{action 'timeShow'}}>Show the time</button>
  {{/if}}
  {{update-message message=message update="update"}}
  <button {{action 'delete' message}}>Delete message</button>
</li>
