<li class=>
  <div class="col-md-3 mimi">
    <div class="well">
     {{#link-to 'message' message.id}}{{message.topic}} at {{message.time}} {{/link-to}}
    {{#if isNameShowing}}
    <p {{action 'nameHide'}}>{{message.author}} </p>
    {{else}}
    <button {{action 'nameShow'}} class="btn btn-default">Show the Author</button>
    {{/if}}
    <ul>
      {{#each model.answers as |answer|}}
        <li>{{answer.content}} by {{answer.name}} </li>
      {{/each}}

    </ul>
    <br/>
    {{new-answer saveAnswer="saveAnswer"}}
  </div>
</div>
</li>
