<div class="center">
<h2>Welcome to my message board</h2>
<ul>
  {{#each model as |message|}}
    {{message-tile message=message}}
  {{/each}}
</ul>

{{new-message saveMessage2 = "saveMessage3"}}
<hr/>
<h3>All of the answers</h3>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} by {{answer.name}}</li>
  {{/each}}

</ul>
{{new-answer saveAnswer="saveAnswer"}}
<hr/>

</div>
