<h2>More information about "{{model.topic}}"'s {{model.author}}</h2>
{{message-detail message=model}}

{{update-message message=model update="update"}}

{{message-detail message=model destroyMessage="destroyMessage" destroyAnswer="destroyAnswer"}}

{{new-answer saveAnswer="saveAnswer" message=model}}
